@import "../../style/vars";

.c-toast-root {
	position: fixed;
	top: 30%;
	width: 36%;
	min-height: 25%;
	left: 32%;
	background: rgba(#000, .6);
	color: #fff;
	border-radius: .3rem;
	@include flex(column);
	padding: $padding;
	z-index: 99;
	will-change: transform, opacity;
	transform: scale(1);
	opacity: 1;
	transition: transform ease-in-out .25s, opacity ease-in-out .25s;
	pointer-events: auto;
	&.hidden {
		transition: transform ease-in-out .15s, opacity ease-in-out .15s;
		transform: scale(1.15);
		opacity: 0;
		pointer-events: none;
	}
	.icon-box {
		.icon {
			font-size: 1.2rem;
		}
		.icon-loading{
			display: block;
			transform: rotate(0deg);
			font-size: 1rem;
			animation: loading linear 1s infinite;
			@keyframes loading {
				0%{
					transform: rotate(0deg);
				}
				100%{
					transform: rotate(360deg);
				}
			}
		}
	}
	.text {
		padding-top: $padding;
		font-size: .3rem;
		text-align: center;
	}
}
