@import "../../style/index";

.c-toast-root {
	position: fixed;
	top: 30%;
	width: 30%;
	min-height: 25%;
	left: 35%;
	background: rgba(#000, .6);
	color: #fff;
	border-radius: .3rem;
	@include flex();
}
