@import "../../../style/vars";

.v-item-root {
	height: 100%;
	padding: .6rem 0;
	.main {
		@include flex();
		justify-content: space-between;
		background: #fff;
		.prps {
			flex: 1;
		}
		.favour {
			padding: 0 $padding;
			.fa-heart-o {
				font-size: .5rem;
			}
			.fa-heart {
				@extend .fa-heart-o;
				color: #e73425;
			}
		}
	}
	.remain {
		padding: $padding 0;
	}
	.button-box{
		padding: $padding;
		.btn{
			margin-bottom: $padding / 2;
		}
	}
}