@import "../../style/vars";

.c-item-root {
	width: 100%;
	height: .9rem;
	@include flex();
	background: #fff;
	border-bottom: 1px solid $border-color;
	justify-content: space-between;
	padding: 0 .36rem;
	.item-right{
		@include flex();
		justify-content: flex-end;
		font-size: .24rem;
		.count{
			padding-right: .54rem;
		}
		.icon{
			color: $icon-default;
		}
	}
}
