:global {
	html, body {
		background: $bg-color;
		height: 100%;
		width: 100%;
		position: relative;
		margin: 0;
		padding: 0;
		@include flex();
	}

	a{
		text-decoration: none;
	}

	.center{
		@include flex();
		text-align: center;
	}
}