* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	background: $bg-color;
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	@include flex();
	color: $black;
	font-size: .3rem;
}

#react-root {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

.primary {
	color: $primary-color;
}

.scroll {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.center {
	@include flex();
	text-align: center;
	&.col {
		flex-direction: column;
	}
}

.tap-position{
	position: fixed;
	right: 10%;
	bottom: 10%;
	font-size: .8rem;
}