$primary-color: #3478f6;
$bg-color: #efeff4;
$black: #000;
$gray: #c7c7cb;
$border-color: #deddde;
$icon-default: #a1a1a1;
$icon-active: $primary-color;

@mixin flex($direction: row){
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: $direction;
}