$primary-color: #3478f6;
$bg-color: #efeff4;
$black: #000;
$gray: #c7c7cb;
$border-color: #deddde;
$icon-default: #a1a1a1;
$icon-active: $primary-color;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$error: #d9534f;

$padding: .36rem;

@mixin flex($direction: row){
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: $direction;
}